<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://bcadigital.co.id/favicon.ico" type="image/icon type">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>
        BCA Digital | Dashboard
    </title>
    <style>
        .bg-primary {
        color: #fd7e14;
}
        @media screen and (max-width: 600px) {
            h3 {
                font-size: 18px;
            }

            th,
            td {
                font-size: 12px;
                white-space: nowrap;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fd7e14;">
        <a class="navbar-brand ml-3" href="#">BCA Digital</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item">
                    <a class="nav-link" style="font-size:larger;font-weight: bold;" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:larger;font-weight: bold;" href="/testimoni">Testimoni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:larger;font-weight: bold;" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <h3 class="mt-4">Data Kontak Pesan</h3>
        <div class="table table-responsive">
            <table class="table  mt-4 table-striped">
                <thead style="color:white;background-color: #fd7e14;">
                    <tr>
                        <th class="align-middle" scope="col">No</th>
                        <th class="align-middle" scope="col">Nama</th>
                        <th class="align-middle" scope="col">Email</th>
                        <th class="align-middle" scope="col">Pesan</th>
                        <th class="align-middle" scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in kontak_pesan %}
                        <tr>
                            <td class="align-middle">
                                {{ row.0 }}
                            </td>
                            <td class="align-middle">
                                {{ row.1 }}
                            </td>
                            <td class="align-middle">
                                {{ row.2 }}
                            </td>
                            <td class="align-middle">
                                {{ row.3 }}
                            </td>
                            <td>
                                <a href="/hapus_pesan/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Yakin ingin hapus?')">Hapus</a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>