<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://bcadigital.co.id/favicon.ico" type="image/icon type">

    <title>BCA Digital</title>
<!--

Lava Landing Page


-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">

    <link rel="stylesheet" href="../static/css/templatemo-lava.css">

    <link rel="stylesheet" href="../static/css/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index" class="logo">BCA Digital
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                            <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Testimonials</a>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Tentang<br> <em>BCA Digital</em></h1>
                        <p>Kami adalah bank yang lahir seutuhnya dalam dunia digital.</p> 
                        <a href="#about" class="main-button-slider">KNOW US BETTER</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>01</h2>
                            <img src="../static/images/features-icon-1.png" alt="">
                            <h4>Transparan dan Patuh</h4>
                            <p>BCA Digital beroperasi dengan transparan dan mengikuti peraturan yang berlaku</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>02</h2>
                            <img src="../static/images/features-icon-2.png" alt="">
                            <h4>Pembukaan rekening mudah</h4>
                            <p>BCA Digital memiliki 1.237 kantor cabang yang tersebar di kota kota di Indonesia untuk memudahkan kamu membuka rekening baru.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>03</h2>
                            <img src="../static/images/features-icon-3.png" alt="">
                            <h4>Mudahnya Tarik Tunai </h4>
                            <p>BCA Digital memiliki 17.913 mesin ATM yang tersebar di Indonesia Memudahkan kamu untuk setor tunai maupun tarik tunai.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="../static/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="../static/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h4>Tahun 1965</h4>
                                <p>PT Bank Rakyat Parahyangan menyapa dunia untuk pertama kalinya.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="../static/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h4>Tahun 1990</h4>
                                <p>Hadir dengan identitas baru, Bank Royal Indonesia</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="../static/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h4>Tahun 2019</h4>
                                <p>Resmi diakusisi PT Bank Central Asia Tbk</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="../static/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h4>Tahun 2020</h4>
                                <p>Terlahir kembali sebagai PT Bank Digital BCA. Bank digital yang diracik dengan resep baru, spesial buat kamu untuk mulai langkahmu!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="right-image-decor"></div>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>Yang mereka pikirkan tentang <em>BCA Digital</em></h2>
                        <p>Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod purus non, convallis odio.
                            Donec vitae magna ornare, pellentesque ex vitae, aliquet urna.</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        {% for row in testimoni %}
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="../static/images/testimonial-author-1.png" alt="Author One"></i>
                            </div>
                            <div class="testimonial-content">
                                <h4>{{ row.1 }}</h4>
                                <p>“{{ row.2 }}”</p>
                                <span>{{ row.3 }}</span>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="/kirim_pesan" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="nama" type="text" id="nama" placeholder="Nama Lengkap" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="Alamat E-mail"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="pesan" rows="6" id="pesan" placeholder="Pesan"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Kirim Pesan Sekarang</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>Ada yang bisa dibantu?</h2>
                        <p>Terima kasih sudah mampir! Jika kamu memiliki pertanyaan seputar BCA Digital, hubungi kami melalui kontak di laman ini. </p>
                        <ul class="social">
                            <li><a href="https://facebook.com/blubybcadigital"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/blubybcadigital"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/bcadigital"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://instagram.com/blubybcadigital"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://youtube.com/blubybcadigital"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2021 BCA Digital - web by <a href="/profile">Muhamad Shuro Fadhillah</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/scrollreveal.min.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="../static/js/custom.js"></script>

</body>
</html>
